.DS_Store
.vscode/*.log

# Application state
.docker-data
certs/*.pem

# Local dependencies
node_modules

# Build files
dist
build
*.log

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Local environment
.npmrc
.env
.env.*

# Meta configuration files
/meta/*.*.json
/meta/*.*.yaml
/meta/*.*.yml
/meta/*.*.xml


.yarnrc.yml
yarn.lock
.yarn/install-state.gz

